@tailwind base;
@tailwind components;
@tailwind utilities;

.class {
  font-family: var(--font-poppins);
}

:root {
--background:var(--background)
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
